.title{
    font-family: cursive;
    color: beige;
}

 button{
   width: 200px;
   margin-left: 540px;
   color: brown;
   background-color: rgb(80, 33, 1);
}


a{
    color: bisque;
}

hr{
    background-color: black;
}

.iimg{
    margin-left: 140px;
}

.h11{
    margin-left: 510px;
    color: beige;
}

.iiimg{
    margin-left: 240px;
}

